In [2]:
import pandas

In [2]:
import cleanup_fragile_states as csf

In [3]:
#csf.cleanup_fragile_states()

In [4]:
mabc = pandas.read_csv('data/monthly_arrivals_by_country_filtered.csv')

In [5]:
mabc[0:10]

  country_en  value  month   month_en     date
0     Greece    955      1    January  2014-01
1     Greece   1001      2   February  2014-02
2     Greece   1501      3      March  2014-03
3     Greece   1257      4      April  2014-04
4     Greece   1703      5        May  2014-05
5     Greece   3198      6       June  2014-06
6     Greece   3927      7       July  2014-07
7     Greece   6742      8     August  2014-08
8     Greece   7454      9  September  2014-09
9     Greece   7432     10    October  2014-10

In [6]:
fsi = pandas.read_csv("data/fragilestatesindex_joined.csv")

In [7]:
fsi[0:15]

,Country Name,Demographic Pressures 2006,External Intervention 2006,Factionalized Elites 2006,Group Grievance 2006,Human Flight 2006,Human Rights 2006,Legitimacy of the State 2006,Poverty and Economic Decline 2006,Public Services 2006,...,Group Grievance 2014,Human Flight 2014,Human Rights 2014,Legitimacy of the State 2014,Poverty and Economic Decline 2014,Public Services 2014,Refugees and IDPs 2014,Security Apparatus 2014,Total 2014,Uneven Development 2014
0,Sudan,9.6,9.8,9.1,9.7,9.1,9.8,9.5,7.5,9.5,...,10.0,6.8,9.9,9.7,8.8,9.9,10.0,9.9,112.9,8.9
1,"Congo, D.R.",9.5,10.0,9.6,9.1,8.0,9.5,9.0,8.1,9.0,...,9.3,8.9,9.8,9.1,9.1,9.6,10.0,9.4,112.6,8.7
2,Guinea,7.5,8.5,9.0,8.1,8.4,8.1,9.1,8.0,9.0,...,8.1,8.3,8.6,9.3,8.3,8.8,8.4,8.1,102.8,8.3
3,Brazil,6.5,4.7,3.2,5.7,5.0,5.3,5.5,2.7,6.7,...,8.0,5.0,5.2,5.8,6.4,4.4,6.5,6.2,72.0,5.6
4,Romania,6.5,5.5,4.1,5.4,5.5,4.8,6.2,5.9,5.3,...,6.2,4.9,6.0,7.4,5.4,6.4,2.7,6.2,71.6,8.7
5,Bulgaria,6.0,5.5,4.1,4.0,6.0,4.9,6.2,4.3,5.3,...,5.6,6.8,4.6,4.1,6.8,7.0,5.8,4.6,71.5,8.4
6,Croatia,5.7,5.8,3.9,6.5,5.0,4.6,4.2,5.8,4.1,...,5.7,5.7,6.8,6.7,5.8,4.4,6.7,5.6,71.3,5.3
7,Kuwait,5.7,4.0,7.5,4.5,4.0,6.5,6.8,2.8,3.0,...,6.1,5.6,6.0,5.8,4.9,6.3,4.3,7.6,71.1,6.9
8,Ghana,5.5,4.5,3.5,5.0,8.0,4.4,5.5,4.0,6.8,...,6.2,8.8,4.1,5.6,6.7,6.3,4.1,5.5,71.0,6.5
9,Panama,6.5,4.0,3.0,4.5,5.0,4.8,4.9,5.7,5.8,...,4.8,6.0,7.0,6.8,4.8,4.9,5.0,6.0,70.8,5.9
10,Mongolia,6.0,7.2,5.0,4.1,2.0,6.7,6.2,4.5,5.3,...,4.9,7.3,4.9,4.8,6.0,7.9,5.8,4.1,70.7,6.8
11,Latvia,5.7,4.0,4.1,4.5,5.0,3.7,4.8,5.5,4.0,...,6.1,7.4,5.2,5.8,7.1,5.5,3.3,5.7,70.6,6.9
12,South Africa,7.7,2.0,4.0,4.5,4.0,4.0,4.1,2.2,6.0,...,4.8,8.9,4.8,6.0,6.2,5.1,2.4,5.5,69.3,5.7
13,Liberia,8.0,10.0,8.8,7.0,7.1,7.2,7.8,8.9,9.0,...,8.4,7.5,8.5,9.9,8.9,9.2,8.3,9.2,102.7,7.9
14,Estonia,5.0,3.3,5.9,4.5,4.0,3.7,5.0,3.5,4.0,...,6.5,3.9,7.2,7.7,5.9,4.8,3.8,6.0,68.5,5.0

In [8]:
PSQ_TMS = pandas.read_csv("data/PSQ_TMS.csv", skiprows=range(5), na_values="*")

In [9]:
PSQ_TMS["Country Name"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bolivarian Republic of Venezuela',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "C\xc3\xb4te d'Ivoire", 'Croatia', 'Cuba', 'Cura\xc3\xa7ao',
       'Cyprus', 'Czech Republic', 'Democratic Republic of the Congo',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Federal Republic of Yugoslavia',
       'Federated States of Micronesia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iraq', 'Ireland', 'Islamic Republic of Iran',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Libyan Arab Jamahiriya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway',
       'Occupied Palestinian Territory', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Plurinational State of Bolivia', 'Poland', 'Portugal', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia (and Kosovo: S/RES/1244 (1999))', 'Serbia and Montenegro',
       'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'State of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Various', 'Viet Nam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [10]:
test = PSQ_TMS[PSQ_TMS["Country Name"] == "Afghanistan"]

In [11]:
test.drop(["Origin / Returned from", "Population type"], axis=1,
    inplace=True)

-c:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
test[0:5]

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,758625.0,1200000.0,665156.0,184269.0,159549.0,142505.0,129310.0,153718.0,230670.0,297129.0,351907.0,447547.0,486298.0,631286.0
1,Afghanistan,NaN,NaN,753344.0,82067.0,27391.0,17044.0,10443.0,8012.0,6453.0,7225.0,3366.0,75453.0,18830.0,21830.0
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,838250.0,951167.0,879376.0,275486.0
3,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,1.0,1.0,NaN,NaN,NaN,NaN

In [13]:
import numpy

In [14]:
sums = test.iloc[:,1:].sum()

In [15]:
values = pandas.Series(["Afghanistan"], ["Country Name"]).append(sums)

In [16]:
test_df = pandas.DataFrame(values)

In [17]:
test_df.transpose()

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,1.05111e+06,1.2261e+06,3.37648e+06,912292,1.06678e+06,911679,527710,535632,515659,361985,1.31802e+06,1.54837e+06,1.49935e+06,985191

In [18]:
import cleanup_psq_tms as cpt

In [19]:
# cpt.cleanup_psq_tms()

In [20]:
psq_tms_clean = pandas.read_csv("data/PSQ_TMS_filtered.csv")

In [21]:
gdp_info_raw = pandas.read_csv("data/world_bank_gdp/GDP_2011-2015.csv",skiprows=4)

In [22]:
gdp_info_raw[0:5]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,"GDP, PPP (constant 2011 international $)",NY.GDP.MKTP.PP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.671232e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,"GDP, PPP (constant 2011 international $)",NY.GDP.MKTP.PP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"GDP, PPP (constant 2011 international $)",NY.GDP.MKTP.PP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.419659e+10,3.543156e+10,4.287950e+10,4.649566e+10,4.933825e+10,5.646010e+10,5.756623e+10,5.832180e+10,NaN,NaN
3,Angola,AGO,"GDP, PPP (constant 2011 international $)",NY.GDP.MKTP.PP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.524775e+11,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,"GDP, PPP (constant 2011 international $)",NY.GDP.MKTP.PP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.369182e+10,2.547581e+10,2.632925e+10,2.730607e+10,2.800237e+10,2.840000e+10,2.871524e+10,2.933836e+10,NaN,NaN

In [36]:
gdp_clean = pandas.read_csv("data/world_bank_gdp/GDP_filtered.csv")

In [37]:
gdp_clean[0:5]

,Country Name,"GDP (2000, billions of $)","GDP (2001, billions of $)","GDP (2002, billions of $)","GDP (2003, billions of $)","GDP (2004, billions of $)","GDP (2005, billions of $)","GDP (2006, billions of $)","GDP (2007, billions of $)","GDP (2008, billions of $)","GDP (2009, billions of $)","GDP (2010, billions of $)","GDP (2011, billions of $)","GDP (2012, billions of $)","GDP (2013, billions of $)","GDP (2014, billions of $)","GDP (2015, billions of $)"
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.671232,NaN,NaN,NaN,NaN
1,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,NaN,NaN,23.378628,25.352758,25.620370,28.483516,30.065529,34.196595,35.431560,42.879503,46.495656,49.338254,56.460104,57.566227,58.321801,NaN
3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.477494,NaN,NaN,NaN,NaN
4,Albania,15.955125,17.222015,17.950743,18.987127,20.071208,21.219446,22.371876,23.691817,25.475811,26.329251,27.306066,28.002370,28.400004,28.715244,29.338365,NaN

In [5]:
pov_raw = pandas.read_csv("data/world_bank_poverty/Poverty_raw.csv", skiprows=4)

In [6]:
pov_raw[0:5]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,36.3,NaN,NaN,NaN,35.8,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,36.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.4,NaN,NaN,NaN,14.3,NaN,NaN,NaN,NaN

In [7]:
?pandas.DataFrame.to_csv

In [10]:
pov_clean = pandas.read_csv("data/world_bank_poverty/Poverty_filtered.csv")

In [11]:
pov_clean[0:5]

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,35.8,NaN,NaN,NaN,NaN
3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albania,NaN,NaN,25.4,NaN,NaN,18.5,NaN,NaN,12.4,NaN,NaN,NaN,14.3,NaN,NaN,NaN